---
layout: page
---

<div class="post-content" style="text-align: justify; font-family: Roboto;">
  &emsp;<u>S</u>oftware <u>C</u>omposition <u>A</u>nalysis (<b>SCA</b>) identifies reused third-party libraries (TPLs) and their dependencies, 
  forming the basis of Software Bills of Materials (SBOMs) for software supply chain security. Current C/C++ SCA techniques extract code 
  features and match them against a TPL feature database. However, detection recall is limited by database coverage, and two key challenges 
  remain:
  <ul style="list-style-type: square; margin-bottom: 0.5em;">
    <li><b>Coverage-Precision Trade-off</b>: Feature databases built from a single repository often yield high false negatives, as C/C++ 
    TPLs are inherently distributed across diverse hosting platforms, each offering partially overlapping yet distinct sets of TPLs.
    While a multi-repository feature database can improve TPL coverage, it also introduces numerous <i>shared functions</i> (e.g., clone functions 
    across TPLs), which significantly increase false positives.</li>
    <li><b>Neglected Dependency Context</b>: Existing SCA techniques primarily focus on detecting reused TPLs but often overlook their 
    inter-dependencies. However, license compatibility constraints are inherently determined by directed dependency relationships among 
    TPLs.</li>
  </ul>

  &emsp;We propose <b><span style="font-variant: small-caps;">DeepSCA</span>, an effective SCA technique for C/C++ projects that enables both 
  reliable TPL detection and accurate inter-TPL dependency graph recovery.</b>
  <ul style="list-style-type: square; margin-bottom: 0.5em;">
    <li>To addresses Challenge 1, <b><span style="font-variant: small-caps;">DeepSCA</span> constructs a feature database with 30,047,290 
    functions extracted from 33,100 C/C++ TPLs, covering nine mainstream hosting repositories.</b> To reduce false positives from <i>shared 
    functions</i>, <span style="font-variant: small-caps;">DeepSCA</span> groups TPLs with shared code, and uses uniqueness scores to trace 
    functions to their origins—ensuring high precision without sacrificing recall.</li>
    <li>To overcome Challenge 2, <b><span style="font-variant: small-caps;">DeepSCA</span> generates the dependency graph from the detected 
    TPLs.</b> it resolves filename ambiguity by simulating compiler header search paths and mitigates symbol ambiguity via namespace-aware 
    resolution, enabling accurate file-level dependency mapping to TPLs.</li>
  </ul>

  &emsp;Evaluated on a ground-truth dataset of 335 OpenHarmony projects (10,583 TPLs, 64,200 dependencies), <span style="font-variant: small-caps;">DeepSCA</span> 
  achieves 85.6% precision and 87.3% recall for TPL detection, outperforming state-of-the-art tools (e.g., 16.8% precision and 
  22.1% recall improvement over TPLite). Its dependency graphs reach 91.8% precision, surpassing Cneps by 11.3%. Moreover, the dependency 
  graph generated by <span style="font-variant: small-caps;">DeepSCA</span> uncovers hidden combinations of license incompatibility issues in 
  real-world projects.
</div>
<hr>
<div class="post-content" style="margin-top: 1em;">
  <div class="logo">
    <img src="/assets/img/tooldownload.svg" alt="avatar" height="30" width="30"">
    <span>
      <a href="TODO"><strong> Download <span style="font-variant: small-caps;">DeepSCA</span> </strong></a><br>
    </span>
  </div>

  <div class="logo">
    <img src="/assets/img/datadownload.svg" alt="avatar" height="30"" width="30"">
    <span>
      <a href="TODO"><strong>Download Feature Database of <span style="font-variant: small-caps;">DeepSCA</span></strong></a><br>
    </span>
  </div>

  <div class="logo">
    <img src="/assets/img/datadownload.svg" alt="avatar" height="30"" width="30"">
    <span>
      <a href="https://github.com/DeepSCA-tool/DeepSCA-tool.github.io/blob/main/data/ground_truth_dataset.zip"><strong>Download Ground-truth Dataset</strong></a><br>
    </span>
  </div>
  
</div>

<div id="d-help-win" class="d-help-win" style="display: none;">
  <div id="win-title">Help
    <span id="d-help-colse" clss="close_2" class="close_2">
      ×
    </span>
  </div>
  <div id="win-content">
    <center><strong>
        <font size="4">A Demo of <span style="font-variant: small-caps;">DeepSCA</span> </font>
      </strong></center>
    <img src="/assets/img/deepsca-demo.gif" alt="avatar">
  </div>
</div>
